

.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3867d6;
    background:linear-gradient(to right,rgba(122, 152, 220, 0.565) 10% ,rgb(56, 103, 214,1)  );
    height: 75px;
   
    transition: all 0.5s ease ;
    position:fixed;
    width: 100%;
    
    z-index: 1000;
}
.logo{
    width: 140px;  
    z-index: 1;
    margin-left: 20px;
    display: block;
}
.navSpan{
    margin-top: 10px;
   margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: medium;
    font-family: 'Poppins' ;
    font-style: normal;
    cursor: pointer;
    font-size: 22px;
    
    
}
.contribuer{
    background-color: #FA8231;
    color: white;
    width: 165px;
    height: 45px;
    border-width: 0px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    
    margin-right: 10px;
    cursor: pointer;
    margin-left: 40px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: 0px;
    
}

.navbarRight{
    margin-right: 30px;
    display: flex;
    margin-top: 10px;
}

.navSpan::after{
    content: '';
background-color: #FA8231;
height: 2.3px;
width: 0%;
display: block;
transition-duration: 0.3s;
}
.navSpan:hover::after{
    width: 100%;
}
.mobile_nav_container{
    display: none;
    position: absolute;
    width: 100%;
    height: 200vh;
    top: 0px;
    z-index: 200;
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(8px); 
    

}
.close{
    
    width: 28px;
    margin-right: 20px;
   
}
.logo_nav{
    margin-left: 20px;
    z-index: 100;
    
}
.head_nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: #3867D6;
    padding: 15px;
    margin: 0 10px 0 10px;
    
}
.main_nav{
    display: flex;
    flex-direction: column;
    padding: 0 20px 30px 20px;
    width: 95%;
    align-items: center;
}
.main_nav span{
    width: 92%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: #dadada48;
}


.mobile_nav{
    box-sizing:border-box;
    position: absolute;
    width: 100vw;
    height: fit-content;
    z-index: 1000;
    /*top: -700px;*/
    top: 0px;
    transform: translateY(-100%);
    display: flex;
    flex-direction: column;
   
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.3s ease-in 0s;
    font-family: "Poppins";
    border-radius: 0 0 20px 20px; 
}

.mobile_nav_clicked{
    box-sizing:border-box;
    position: absolute;
    width: 100vw;
    height: fit-content;
    z-index: 1000;
    /*top: -700px;*/
    top: 0px;
    transform: translateY(0);
    display: flex;
    flex-direction: column;
   
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: black;
    transition: all 0.8s ease 0s;
    font-family: "Poppins";
    border-radius: 0 0 20px 20px; 

}

.main_nav span a,.main_nav_clicked span a{
    color: rgb(0, 0, 0);
}

button a{
    color: white;
}

.mobile_nav_clicked span,.mobile_nav span{
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
}

.mobile_nav span:hover,.mobile_nav_clicked span:hover{
    color: #FA8231;
}

.hamburger{
    display: none;
    margin-right: 20px;
}
.mobile_nav button,.mobile_nav_clicked button{
    background-color: #FA8231;
    color: white ;
    width: 165px;
    height: 45px;
    border-width: 0px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    border-radius: 30px;
    cursor: pointer; 
    margin:20px 0 0 0;
    padding-top: 7px;
    padding-bottom: 10px;
    
    
}
@media screen and (max-width:1000px) {
    .navSpan{
        margin-top: 7px;
       margin-left: 20px;
        margin-right: 15px;
       
        font-size: 20px;
        
        
    }

    .contribuer{
        
        width: 145px;
        height:fit-content;
        font-size: 18px;
        padding: 5px;
       
        
    }
    .logo{
        width: 125px;
        margin-top: 10px;       
        margin-left: 10px;
    }
    .navbarRight{
        margin-right: 10px;
    }
}
@media screen and (max-width:860px) {
    .navSpan{
        margin-top: 5px;
        margin-left: 15px;
         margin-right: 15px;
        font-size: 18px;
        
        
    }
    .contribuer{
        margin-left: 10px;
    }
    
    
}
@media screen and (max-width:765px) {
   .navSpan{
    font-size: 15px !important;
   }
    
   .contribuer{
        
    width: 125px;
    height:fit-content;
    font-size: 16px;
    padding: 5px;
    height: 35px;   
    font-weight: 400;
      
}

    
    .navSpan{
       
       margin-left: 10px;
        margin-right: 10px;
       
        
        
    }
}

@media screen and (max-width:640px) {
    .hamburger{
        display: block;
    }
    .navbarRight{
        display: none;
    }
    
}